:root {
  --blue-dark: rgb(23, 38, 67);
  --blue-medium: rgb(42, 69, 122);
  --blue-text: rgb(119, 146, 201);

  --gray-bg: rgb(238, 238, 238);
  --white-bg: rgb(252, 252, 254);

  --green-dark: rgb(0, 93, 127);
  --green-medium: rgb(0, 151, 156);
  --green-light: rgb(89, 207, 147);

  --yellow-bg: rgb(231, 253, 127);

  --white-text: white;
}

.nav {
  background-color: var(--blue-dark);
  width: 100vw;
  height: 25vh;
} 

.nav div.input-group {
  width: 300px;
  height: 32px;
  margin-left: 40px;
  margin-top: 13px;
}

i.bi-search {
  color: var(--blue-dark);
  height: 24px;
  width: 24px;
  margin-left: -35px;
}

.main {
  display: flex;
  direction: column;
  background-color: var(--gray-bg);
  width: 100vw;
  height: 75vh;
}

.table {
  background-color: var(--white-bg);
  border: 1px solid yellow;
}
